# Виртуальное окружение
.venv/
env/
venv/
task_cli/__pycache__/
*.pyc
*.pyo
*.pyd
# Логи и временные файлы
*.log
*.tmp
# IDE и редакторы
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

task_cli/storage/*.json